@model  ASTL.ViewModels.CampanhaViewModel

@{
    ViewData["Title"] = "Campanha";
}

<script src="./assets/js/script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

@*<container class="d-flex">*@

<container class="d-flex w-100" style="min-height:100vh">
    <nav class="menu-sidebar col-auto">
        <ul class="list-group">
            @*            <li class="list-group-item bg-dark">
            <a href="#">
            <img src="~/img/logo-2.png" id="logo-sidebar"/>
            <span class="menu-texto">
            Amigo Solidario
            </span>
            </a>
            </li>*@

            <li class="list-group-item bg-dark">
                <a href="#">
                    <ion-icon name="add" aria-hidden="true" class="icon icon-text"></ion-icon>
                    <span class="menu-texto">Adicionar Campanha</span>
                </a>

            </li>
        </ul>

        <ul class="logout list-group">

            <li class="list-group-item bg-dark">
                <a href="" onclick="return logout()">
                    <ion-icon name="power-outline" aria-hidden="true" class="icon icon-text"></ion-icon>
                    <span class="menu-texto"> Sair</span>
                </a>
            </li>

        </ul>
    </nav>
    <section class="col">
        <nav class="navbar navbar-light bg-light position-static">
            <div class="container-fluid d-flex justify-content-between w-100">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="~/img/logo-2.png" id="logo-sidebar" />
                    <span class="menu-texto">
                        Amigo Solidario
                    </span>
                </a>
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="~/img/logo-2.png" id="logo-sidebar" />
                    <span class="menu-texto">
                        Nome Usuario
                    </span>
                </a>
            </div>

        </nav>


        <main class="m-4 row">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Email</th>
                  <th scope="col">Pontuação</th>
                  <th scope="col">Admin</th>
                </tr>
              </thead>
              <tbody>
                @{int count = 0;}
                @if(Model.usuarios.Any()){
                    @foreach(var item in Model.usuarios.OrderBy(x => x.Score))
                    {
                    
                        <tr>
                            <th scope="row">@(count += 1)
                            <td>@item.Usuario?.Usuario
                            <td>@item.Usuario?.Email
                            <td>@item.Score pts
                            <td>
                                <input onchange="adicionar()" id="adicionar-valor" />
                            </td>
                        </tr>
                    }
                }
              </tbody>
            </table>
        </main>
    </section>
</container>

<script>
    function logout() {
        fetch("../../Authentication/Logout")
            .then(response => response.json())
            .then(d => { window.location.href = d.message; });
        return false;
    }

    function adicionar(){
        let valueInp = document.getElementById('adicionar-valor').ariaValueMax;
        fetch("../../AdicionarValor/" + valueInp)
            .then(response => response.json())
            .then(d => { alert(d.message;) });

    }
</script>

@*</container>*@
